@model IEnumerable<ISP.DAL.ViewModels.TVChannelDetails>

<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsIPTV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCanceled)
        </th>
    </tr>

    @foreach (var tvChannel in Model)
    {
        string trClasses = (tvChannel.IsCanceled ? "danger" : "");

        <tr class="@trClasses">
            <td>
                @Html.DisplayFor(model => tvChannel.Name)
            </td>
            <td>
                @Html.DisplayFor(model => tvChannel.IsIPTV)
            </td>
            <td>
                @Html.DisplayFor(model => tvChannel.IsTV)
            </td>
            <td>
                @Html.DisplayFor(model => tvChannel.Price)
            </td>
            <td>
                @Html.DisplayFor(model => tvChannel.IsCanceled)
            </td>
            <td>
                @Ajax.ActionLink("Подробности", "DetailsAjax",
               new { id = tvChannel.Id },
               new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "tvChannelInfo", OnComplete = "$('#modelDetails').modal();" },
               new { @class = "btn btn-xs btn-info" })
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = tvChannel.Id }, new { @class = "btn btn-xs btn-warning" })
            </td>
            <td>
                @if (tvChannel.IsCanceled)
                {
                    @Html.ActionLink("Востановить", "Renew", new { id = tvChannel.Id }, new { @class = "btn btn-xs btn-success" })
                }
                else
                {
                    @Html.ActionLink("Аннулировать", "Cancel", new { id = tvChannel.Id }, new { @class = "btn btn-xs btn-danger" })
                }
            </td>
        </tr>
    }
</table>