@model IEnumerable<ISP.DAL.ViewModels.InternetPackageDetails>

@{
    ViewBag.Title = "Список пакетов интернет услуг";
}

<div class="text-right">
    @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Назад", "Index", "AdminPanel", null, new { @class = "btn btn-default" })
</div>
<br />

<div class="form-inline">
    @using (Ajax.BeginForm("IndexTableAjax", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "internetPackagesTable" }))
    {
        @Html.DropDownList("sortBy", (ViewBag.sortBy as SelectList), new { @class = "form-control" })

        @Html.DropDownList("orderByDescending", (ViewBag.orderByDescending as SelectList), new { @class = "form-control" })

        <input type="submit" class="btn btn-primary" value="Сортировать" />
    }
</div>
<br />

<div id="internetPackagesTable">
    @Html.Action("IndexTableAjax")
</div>

<div id="internetPackageInfo"></div>