@model IEnumerable<ISP.DAL.DBModels.TVChannelContract>

<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.LabelFor(model => model.First().Number)
        </th>
        <th>
            @Html.LabelFor(model => model.First().DoS)
        </th>
        <th>
            @Html.LabelFor(model => model.First().TVChannel.Name)
        </th>
        <th>
            @Html.LabelFor(model => model.First().TVChannel.Price)
        </th>
    </tr>
    @foreach (var tvChannelContract in Model)
    {
        string trClasses = (tvChannelContract.IsCanceled ? "danger" : "");

        <tr class="@trClasses">
            <td>
                @Html.DisplayFor(model => tvChannelContract.Number)
            </td>
            <td>
                @Html.DisplayFor(model => tvChannelContract.DoS)
            </td>
            <td>
                @Html.DisplayFor(model => tvChannelContract.TVChannel.Name)
            </td>
            <td>
                @Html.DisplayFor(model => tvChannelContract.TVChannel.Price)
            </td>
        </tr>
    }
</table>