@model IEnumerable<ISP.DAL.DBModels.InternetPackageContract>

<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.LabelFor(model => model.First().Number)
        </th>
        <th>
            @Html.LabelFor(model => model.First().DoS)
        </th>
        <th>
            @Html.LabelFor(model => model.First().InternetPackage.Name)
        </th>
        <th>
            @Html.LabelFor(model => model.First().InternetPackage.Price)
        </th>
    </tr>
    @using (Html.BeginForm("Create", "AdminInternetPackageContract", new { @contractAddressId = (ViewBag.contractAddress as ISP.DAL.DBModels.ContractAddress).Id }))
    {
        <tr>
            <td>
                @Html.DropDownList("internetPackageId", (ViewBag.internetPackageId as IEnumerable<SelectListItem>), new { @class = "form-control" })
            </td>
            <td>
                <input type="submit" class="btn btn-primary" value="Подписать" />
            </td>
        </tr>
    }
    @foreach (var internetPackageContract in Model)
    {
        string trClasses = (internetPackageContract.IsCanceled ? "danger" : "");

        <tr class="@trClasses">
            <td>
                @Html.DisplayFor(model => internetPackageContract.Number)
            </td>
            <td>
                @Html.DisplayFor(model => internetPackageContract.DoS)
            </td>
            <td>
                @Html.DisplayFor(model => internetPackageContract.InternetPackage.Name)
            </td>
            <td>
                @Html.DisplayFor(model => internetPackageContract.InternetPackage.Price)
            </td>

            @if (!internetPackageContract.IsCanceled)
            {
                <td>
                    @using (Html.BeginForm("Cancel", "AdminInternetPackageContract", new { id = internetPackageContract.Id }))
                    {
                        <input type="submit" class="btn btn-xs btn-danger" value="Аннулировать" />
                    }
                </td>
            }
        </tr>
    }
</table>